body,html { margin: 0 auto;  }
.page-body { margin-top: 50px; }
*,*:after,*:before { box-sizing: border-box; }

.card {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d4d4d4;
	background: $white;
	padding: 10px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 4px rgba(black,.10);
	-moz-box-shadow: 0 0 4px rgba(black,.10);
	box-shadow: 0 0 4px rgba(black,.10);
}

div.card-header { 
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d4d4d4;
	background: $white;
	padding: 10px;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 4px rgba(black,.10);
	-moz-box-shadow: 0 0 4px rgba(black,.10);
	box-shadow: 0 0 4px rgba(black,.10);
	margin-bottom: -2px;
	padding: 10px 10px;
	border-bottom: 1px solid #d4d4d4;
	.card-header-title { margin-right: 70px; font-size: 14px; }
	position: relative;
	.more { 
		position: absolute;
		right: 15px;
		top: 10px;
		font-size: 14px;
		i { margin-left: .5em; }
	}
}

.clear {
	&:after { content: ""; display: block; height: 0; width: 0; clear: both; }
	&:before { content: ""; display: block; height: 0; width: 0; clear: both; }
}
.wrapper { padding: 0 15px; }