html,body { font-family: 'Open Sans', sans-serif; }

a { color: $link; text-decoration: none; }

p { line-height: 1.46em; }

h2 { font-weight: 200; font-size: 22px; }
h3 { font-weight: 600; font-size: 16px; text-transform: uppercase; color: $purple; letter-spacing: 1px; }
h5 { font-weight: 700; font-size: 14px; text-transform: uppercase; color: $purple; letter-spacing: 1px; }