<section class="hero">
    <p class="welcome">Hello, we are here to help you
give away your ununsed items
to St. Louis charities.</p>

	{{input class="primary-search" type="search" value=search placeholder="Search all solicitations" action="query"}}

</section>
<section class="solicitations wrapper clear">
	{{#each charity in model}}
	    <section class="solicitation card">
	    	<header class="card-header clear">
	    		<h3 class="card-header-title">{{charity.title}}</h3>
	    		<div class="more">
				    {{#link-to 'solicitations' charity}}
				        more<i class="fa fa-arrow-circle-right"></i>
				    {{/link-to}}
	    		</div>
	    	</header>
		    {{#if charity.featuredSolicitation}}
		        {{solicitation-summary solicitation=charity.featuredSolicitation}}
		    {{/if}}
	    </section>
	{{/each}}
</section>

